* {
  margin: 0;
  padding: 0;
}

.InsertContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
  padding: 20px;
}

.InsertTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}

.InsertSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.ID,
.major,
.majors,
.subMajor {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
}

.ID {
  margin-top: 50px;
}

.text {
  font-size: 14px;
  color: #ff0000;
  margin-top: 10px;
}

input[type="number"],
input[type="text"] {
  flex: 1;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-left: 20px;
  display: inline-block;
}

input[type="radio"] + label {
  display: inline-block;
}
