.Container {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-bottom: 5px;
}
.InsertTitle {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: flex-start;
  color: #4e5968;
}
.InsertSubTitleDiv {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px;
}
.subTitle {
  display: flex;
  padding: 10px;
  font-weight: 600;
  color: #4e5968;
  text-decoration: none;
}
.subTitle:hover {
  background-color: F2F4F6;
  color: #4a5667;
}
