* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background-color: #002d56;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
} */
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #142c46;
  color: white;
  font-weight: bold;
  height: 50px;
  padding: 0 20px;
}
.logo {
  display: flex;
  align-items: center;
}
.menuDiv {
  display: flex;
  align-items: center;
}
.menu {
  margin: 0 10px;
}
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}
.HugeButton {
  background-color: white;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 400px;
  height: 503px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.loginLogo {
  width: 80px;
  height: auto;
  margin-top: 120px;
}
.LoginText {
  margin: 10px 0;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 20px;
  color: #142c46;
}
.Signing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 60px;
  border: 1px solid #ddd;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.google {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.signText {
  font-size: 20px;
}
.checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.checkboxContainer label {
  display: flex;
}
