/* My.js */
*{
  box-sizing: border-box;
}

.page {
  padding: 10% 10%;
  margin: 0 auto;
  position: relative;
}

.cheerUp {
  font-family: 'Pretendard-Medium';
  font-size: 35px;
  padding: 0 0 5rem 0;
}

.infoIndexContainer {
  display: grid;
  font-family: 'Pretendard-Regular';
  font-size: 30px;
  color: #FFFFFF;
  line-height: 2.9rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  width: 80%;
  min-width: 700px;
  height: 113px;
  flex: left;
  border-radius: 32px;
  margin: 0 0 1rem 0;
  padding: 0.7rem;
}

.infoIndex {
  padding: 0 0 0 15px;
  max-width: fit-content;
  position: absolute;
  float: left;
}

.updateState {
  color: #1874FF;
}

.updateAction{
  font-family: 'Pretendard-Regular';
  font-size: 26px;
  color: #FFFFFF;
  text-align: center;
  width: 141px;
  height: 54px;
  background-color: #555555;
  border: none;
  border-radius: 12px;
  margin-top: 1rem;
  margin-right: 1rem;
  position: relative;
  float: right;
}


/* UpdateInfoMenu.js */

.indexContainer {
  width:max-content;
  display: flex;
  flex-direction: column;
}

.editInfo {
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  background-color: #555555;
  color: #FFFFFF;
  text-align: center;
  border: none;
  border-radius: 12px;
  padding: 1rem;
  margin: 0 0 0.7rem 0;

}

.editInfo:hover,
.editInfo:active {
  background-color: #002D56;
}

.editInfo:visited{
  background-color: #002D56;
}


/* BasicInfo.js */

.infoUpdateContainer {
  display: grid;
  height: auto;
  position: absolute;
}

.updateContainer {
  background-color:#FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 40px;
  padding: 2rem 3rem;

  width: 750px;
  height: auto;
  font-family: 'Pretendard-Regular';
  font-size: 23px;
  position: relative;
  margin-bottom: 3rem;
}

.inputInfo {
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  padding: 1rem;
}


.studentId{
  margin: 11px 0 0 0;
  background-color: #F3F5F7;
  border: none;
  border-radius: 8px;
  width: 355px;
  height: 50px;
  font-family: 'Pretendard-Regular';
  font-size: 20px;
}

.inputInfo2 {
  margin: 11px 0 0 0;
  display: flex;
  flex-direction: row;
  font-family: 'Pretendard-Regular';
  font-size: 20px;
}

.inputInfo3 {
  background-color: #F3F5F7;
  border: none;
  border-radius: 8px;
  width: 210px;
  height: 50px;
  font-family: 'Pretendard-Regular';
  font-size: 20px;
}

.Completed {
  width: 136px;
  height: 55px;
  border: none;
  border-radius: 1000px;
  background-color: #000000;
  font-family: 'Pretendard-Regular';
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  padding: 0.7rem;
  margin: 0 0 0.7rem 0;
  float: right;
}


/* MajorIndexDropdown.js*/

.dropdown {
  width: 120px;
  height: 50px;
  /* padding: 1rem; */
  position: relative;
  user-select: none;
}

.dropdownButton {
  padding: 15px 20px;
  background-color: #F3F5F7;
  border: none;
  border-radius: 8px;
  width: 120px;
  height: 50px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.dropdownContents {
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 0;
  padding: 10px;
  background-color: #F3F5F7;
  border: none;
  border-radius: 8px;
  width: 120px;
}

.dropdownItems {
  padding: 3px;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 1;
}

.dropdownItems :hover {
  background-color: #F4f4f4;
  z-index: 0;
}


/* MajorDropdown.js*/

.dropdown2 {
  width: 230px;
  height: 50px;
  position: relative;
  user-select: none;
}

.dropdownButton2 {
  padding: 15px 20px;
  background-color: #F3F5F7;
  border: none;
  border-radius: 8px;
  width: 230px;
  height: 50px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.dropdownContents2 {
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 0;
  padding: 10px;
  background-color: #F3F5F7;
  border: none;
  border-radius: 8px;
  width: 230px;
}

.dropdownItems2 {
  padding: 3px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdownItems2 :hover {
  background-color: #F4f4f4;
}


/* CreditInfo.js */

.inputInfo4 {
  display: flex;
  flex-direction: row;
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  background-color: #F3F5F7;
  border: none;
  border-radius: 8px;
  width: 120px;
  height: 50px;
  padding: 15px 0 0 20px;
  margin: 5px 0 0 0;
}


/* StudentInputRadio.js */

.studentRadio {
  font-family: 'Pretendard-Regular';
  font-size: 20px;
}

[type='radio'] {
  margin: 11px 7px -2px 0;
  appearance: none;
  border: max(2px, 0.1rem) solid gray;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
}

[type="radio"]:checked {
  border: 0.65rem solid #008194;
}


/* SubjectInputRadio.js */

.subjectRadio {
  font-family: 'Pretendard-Regular';
  font-size: 20px;
}


/* EtcInfo.js */
.majorTest {
  font-family: 'Pretendard-Regular';
  font-size: 23px;
  padding: 1rem;
}

.EnglishPass {
  font-family: 'Pretendard-Regular';
  font-size: 23px;
  padding: 1rem;
}


/* GraduateTestCheckbox.js */

[type='checkbox'] {
  margin: 11px 7px -2px 0;
  appearance: none;
  border: max(2px, 0.1rem) solid gray;
  border-radius: 7px;
  width: 1.25rem;
  height: 1.25rem;
}

[type="checkbox"]:checked {
  border: 0.65rem solid #008194;

}


.ForeignLanguageTestRadio {
  margin: 0 0 0 -1rem;
}